<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Block Chain DAPP tutorial Website</title>

    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Simple line icons-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="stylesheets/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"
    ></script>
  </head>
  <!-- <body id="page-top"> -->
    <body style="background-color: #66b7d0;" >
    <!-- Navigation-->
    <a class="menu-toggle rounded"><i class="bi bi-list"></i></a>
    
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand"></li>
        <li class="sidebar-nav-item"><a href="/nft">Buy NFT</a></li>
        <li class="sidebar-nav-item"><a href="/token">Buy TOKEN</a></li>
        <li class="sidebar-nav-item"><a href="/dao">DAO Proposal</a></li>
        <li class="sidebar-nav-item"><a href="/vote">DAO Vote</a></li>
        <li class="sidebar-nav-item"><a href="/multisig">Multisig</a></li>
      </ul>
    </nav>
    <!-- Callout-->
    <section class="callout">
      <div class="container px-4 px-lg-5 text-center">
        <h2 class="mx-auto mb-5">
          Welcome to
          <em>DAPP 101</em>
        </h2>
      </div>

      <div class="container px-4 px-lg-5">
        <input
        type="text"
        class="form-control"
        id="erc20"
        readonly
        />
      </div>

      <div class="container px-4 px-lg-5">
        <input
        type="text"
        class="form-control"
        id="erc721"
        readonly
        />
      </div>

      <div class="container px-4 px-lg-5">
        <input
        type="text"
        class="form-control"
        id="erc1155"
        readonly
      />
      </div>

      <div class="container px-4 px-lg-5">
        <input
        type="text"
        class="form-control"
        id="dao"
        readonly
        />
      </div>

      <div class="container px-4 px-lg-5">
        <input
        type="text"
        class="form-control"
        id="multisig"
        readonly
        />
      </div>
  </body>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="javascripts/scripts.js"></script>
    <script src="src/abi/constant.js"></script>
    <script src="javascripts/index.js"></script>

</html>