<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Block Chain DAPP tutorial Website</title>

    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Simple line icons-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="stylesheets/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"
    ></script>
  </head>
  <!-- <body id="page-top"> -->
    <body style="background-color: #66b7d0;" >
    <!-- Callout-->
    <section class="callout">
      <div class="container px-4 px-lg-5 text-center">
        <h2 class="container">
          Welcome to</h2>
          <h1 class="display-1 font-weight-bold">
          DAPP 101
          </h1>
          
        
      </div>
      <br>
<div class="container mt-5 mb-5">
      <div class="container d-flex justify-content-center">
        <div class="col-7">
        <input
        type="text"
        class="form-control text-center"
        id="erc20"
        readonly
        />
      </div>
      </div>
      <div class="container d-flex justify-content-center">
        <div class="col-7">
        <input
        type="text"
        class="form-control text-center"
        id="erc721"
        readonly
        />
      </div>
      </div>
      <div class="container d-flex justify-content-center">
        <div class="col-7">
        <input
        type="text"
        class="form-control text-center"
        id="erc1155"
        readonly
        />
      </div>
      </div>
      <div class="container d-flex justify-content-center">
        <div class="col-7">
        <input
        type="text"
        class="form-control text-center"
        id="dao"
        readonly
        />
      </div>
      </div>
      <div class="container d-flex justify-content-center">
        <div class="col-7">
        <input
        type="text"
        class="form-control text-center"
        id="multisig"
        readonly
        />
      </div>
      </div>

     
    </div>
    <div class="container-fluid mt-5 px-0 d-flex justify-content-center">
      <div class="row justify-content-around w-100 mx-0">
        <div class="col-lg-2 col-md-3 text-center">
          <a href="/nft" class="d-block">
            <i class="bi bi-box-fill" style="font-size: 8rem;"></i>
          </a>
          <p class="fs-4 mt-2 mb-0" style="font-weight: bold;">Buy NFT</p>
        </div>
        <div class="col-lg-2 col-md-3 text-center">
          <a href="/token" class="d-block">
            <i class="bi bi-box-fill" style="font-size: 8rem;"></i>
          </a>
          <p class="fs-4 mt-2 mb-0" style="font-weight: bold;">Buy TOKEN</p>
        </div>
        <div class="col-lg-2 col-md-3 text-center">
          <a href="/dao" class="d-block">
            <i class="bi bi-box-fill" style="font-size: 8rem;"></i>
          </a>
          <p class="fs-4 mt-2 mb-0" style="font-weight: bold;">DAO Proposal</p>
        </div>
        <div class="col-lg-2 col-md-3 text-center">
          <a href="/vote" class="d-block">
            <i class="bi bi-box-fill" style="font-size: 8rem;"></i>
          </a>
          <p class="fs-4 mt-2 mb-0" style="font-weight: bold;">DAO Vote</p>
        </div>
        <div class="col-lg-2 col-md-3 text-center">
          <a href="/multisig" class="d-block">
            <i class="bi bi-box-fill" style="font-size: 8rem;"></i>
          </a>
          <p class="fs-4 mt-2 mb-0" style="font-weight: bold;">Multisig</p>
        </div>
      </div>
    </div>
  
  
  </body>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="javascripts/scripts.js"></script>
    <script src="src/abi/constant.js"></script>
    <script src="javascripts/index.js"></script>

</html>